name: Android PR Check

on:
  pull_request:
    branches: [ main ]

jobs:
  test-and-build:
    runs-on: [self-hosted, local, android]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Run Lint
        run: ./gradlew lintDebug
        continue-on-error: true

      - name: Run Unit Tests
        run: ./gradlew testDebugUnitTest

      - name: Build Debug APK
        run: ./gradlew assembleDebug
